[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Shawn W. (Shawn5162)
[access "refs/for/refs/*"]
	read = group user/Shawn W. (Shawn5162)
	push = group user/Shawn W. (Shawn5162)
	label-Code-Review = -2..+2 group user/Shawn W. (Shawn5162)
	label-Verified = -1..+1 group user/Shawn W. (Shawn5162)
	rebase = group user/Shawn W. (Shawn5162)
	removeReviewer = group user/Shawn W. (Shawn5162)
	submit = group user/Shawn W. (Shawn5162)
[access "refs/heads/*"]
	read = group user/Shawn W. (Shawn5162)
	create = group user/Shawn W. (Shawn5162)
	push = +force group user/Shawn W. (Shawn5162)
	pushMerge = group user/Shawn W. (Shawn5162)
[access "refs/tags/*"]
	push = +force group user/Shawn W. (Shawn5162)
	pushTag = group user/Shawn W. (Shawn5162)
	pushSignedTag = group user/Shawn W. (Shawn5162)
